$notSelectedBg: #ebece7;

.NotSelectedPage__Centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* Extra space in Cross Axis */
  overflow: auto;
  flex: 1;
  background: $notSelectedBg
}