[submodule "modules/core"]
	path = modules/core
	url = https://github.com/cern-phone-apps/core.git
[submodule "modules/tone-api"]
	path = modules/tone-api
	url = https://github.com/cern-phone-apps/tone-api.git
