$loginBg: #ebece7;

.LoginPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
}

.LoginPage__Centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* Extra space in Cross Axis */
  overflow: auto;
  flex: 1;
  background: $loginBg
}